<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.hefengLibrary.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.zsp.hefengLibrary.model.entity.Book">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
            <result property="isbn" column="isbn" jdbcType="VARCHAR"/>
            <result property="publishDate" column="publishDate" jdbcType="DATE"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        publisher,isbn,publishDate,
        price,quantity,category,
        status,isDelete
    </sql>
</mapper>
